.container {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    width: auto;
    height: 100px;
    display: flex;
    position: relative;
    margin-top: var(--dl-space-space-halfunit);
    align-items: flex-start;
    margin-left: auto;
    padding-top: var(--dl-space-space-halfunit);
    border-color: #D9D9D9;
    border-width: 1px;
    margin-right: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-radius-radius-radius8);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .image {
    width: 60px;
    height: 60px;
    align-self: center;
    object-fit: cover;
  }
  .container1 {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    align-self: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .text {
    color: #5d5f67;
    font-size: 1.1rem;
    font-family: Montserrat;
  }
  .textinput {
    width: 200px;
    font-family: Montserrat;
  }