.header {
  width: 100%;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  margin: 0.5rem 1.5rem;
  background: transparent;
}

.btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 0 3rem;
}

.login-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-weight: 600;
  font-family: Montserrat;
}

.logo {
  margin: 0 2rem;
}

.register-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: black;
  font-weight: 600;
  background-color: #3e5cb8;
  color: white;
  font-family: Montserrat;
}

.login-button:hover {
  cursor: pointer;
  background: rgba(62, 92, 184, 0.44);
  border-color: rgba(62, 92, 184, 0.44);
}

.register-button:hover {
  cursor: pointer;
  background: rgba(62, 92, 184, 0.44);
  border-color: rgba(62, 92, 184, 0.44);
}